<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="http://example.com/myicon.png">
  <title>To Do List with Angular</title>
</head>
<body ng-app="todoApp">

  <div ng-controller="ListController as vm">

    <h1>{{ vm.list.name }}</h1>


    <button ng-click="vm.startAdd()" ng-show="!vm.isInAddMode()">ADD a TASK</button>
  
    <div ng-show="vm.isInAddMode()">
      <input placeholder="task name" ng-model="vm.currentTask.name">
      <button ng-click="vm.add()">ADD</button>
      <button ng-click="vm.cancel()">Cancel</button>
    </div>


    <div ng-repeat="task in vm.list.tasks | orderBy: '$index'">

      <div ng-show="vm.isInReadMode(task.id)">
        <p>
          {{$index+1}}. {{task.name}} - completed: {{task.complete}}
        </p>

        <button ng-click="vm.startEdit(task.id)">Edit</button>
        <button ng-click="vm.startRemove(task.id)">Delete</button> 
      </div>


      <div ng-show="vm.isInEditMode(task.id)">
        <input placeholder="task name" ng-model="vm.currentTask.name">
        <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="vm.currentTask.complete">

        <button ng-click="vm.save()">Save</button>
        <button ng-click="vm.cancel()">Cancel</button>
      </div>


      <div ng-show="vm.isInRemoveMode(task.id)">
        <p>
          {{task.name}} - completed: {{task.complete}}
        </p>

        <button ng-click="vm.remove(task.id)">Confirm</button>
        <button ng-click="vm.cancel()">Cancel</button>
      </div>

    </div>


  </div>


    <script src="./js/angular.js"></script>
    <script src="./js/app/app.js"></script>
    <script src="./js/app/list/list.controller.js"></script>
</body>
</html>

